#sidebar{
	background-color: rgba(44,62,80,1);
}
#sidebar .header{
	height: 10em;
	background-color: rgba(44,62,80,1);
	padding: 1em;
	border-radius: .3em .3em 0 0;
}
#sidebar .header>div{
	float: left;
}
#sidebar .img{
	background-color: #1ABC9C;
	border: 10px solid #16A085;
	width: 43%;
	height: 100%;
	border-radius: 50%;
}
#sidebar .img h1{
	color: #fff;
	text-shadow: 0px 0px 0px;
	font-size: 5em;

	padding: 0px;
	margin: 6px 0px 0px 0px;
}
#sidebar .name{
	width: 57%;
	margin-top: 2.9em;
	margin-left: -0.4em;
	background-color: #16A085;
	padding: .5em;
	font-variant: small-caps;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	border-radius: 0  .5em .5em 0; 
}
#sidebar .nav-item{
	background-color: #ffffff;
}
#sidebar .nav-item>a{
	color: rgba(44,62,80,1);
	font-size: medium;
}