.card{
	background-color: #fff;
	border-radius: .3em;
	padding: .4em;
	height: 14em;
	margin-top: 1em;
	box-shadow: 0px 1px 6px #2C3E50;
	cursor: pointer;
	transition: all 2s;
}
.card:hover{
	box-shadow: 0px 0px 10px #2C3E50 inset;
	transition: all 2s;
}
.card p {
	padding: 0em 1em;
}
.card i {
	font-weight: bolder;
	font-size: xx-large;
	margin-top: .3em;
}
.services .container{
	border: none;
	background-color: rgba(44,62,80,0);
	padding-bottom: 2em;
}
.services_title h2{
	color: #fff;
	font-weight: bolder;
}
.contact h2, .contact p{
	/*color: #fff;*/
	font-weight: 500;
}