/* *********  notifications  **************************** */


/* Pnotify by Hunter Perrin :: 2.0.1 */

.ui-pnotify {
  top: 25px;
  right: 25px;
  position: absolute;
  height: auto;
  /* Ensures notices are above everything */
  z-index: 9999;
}

/* Hides position: fixed from IE6 */

html > body > .ui-pnotify {
  position: fixed;
}
.ui-pnotify .ui-pnotify-shadow {
  -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
}
.ui-pnotify-container {
  background-position: 0 0;
  padding: .8em;
  height: 100%;
  margin: 0;
}
.ui-pnotify-sharp {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.ui-pnotify-title {
  display: block;
  margin-bottom: .4em;
  margin-top: 0;
}
.ui-pnotify-text {
  display: block;
}
.ui-pnotify-icon, .ui-pnotify-icon span {
  display: block;
  float: left;
  margin-right: .2em;
}

/* Alternate stack initial positioning. */

.ui-pnotify.stack-topleft, .ui-pnotify.stack-bottomleft {
  left: 25px;
  right: auto;
}
.ui-pnotify.stack-bottomright, .ui-pnotify.stack-bottomleft {
  bottom: 25px;
  top: auto;
}
.ui-pnotify-closer, .ui-pnotify-sticker {
  float: right;
  margin-left: .2em;
}

/* theming */

.alert-success {
  color: #ffffff;
  background-color: rgba(38, 185, 154, 0.88);
  border-color: rgba(38, 185, 154, 0.88);
}
.alert-info {
  color: #E9EDEF;
  background-color: rgba(52, 152, 219, 0.88);
  border-color: rgba(52, 152, 219, 0.88);
}
.alert-warning {
  color: #E9EDEF;
  background-color: rgba(243, 156, 18, 0.88);
  border-color: rgba(243, 156, 18, 0.88);
}
.alert-danger, .alert-error {
  color: #E9EDEF;
  background-color: rgba(231, 76, 60, 0.88);
  border-color: rgba(231, 76, 60, 0.88);
}
.alert-dark, .btn-dark {
  color: #E9EDEF;
  background-color: rgba(52, 73, 94, 0.88);
  border-color: rgba(52, 73, 94, 0.88);
}
.btn-dark:hover {
  color: #F7F7F7;
}

/* /theming */


/* /Pnotify by Hunter Perrin :: 2.0.1 */

.btn.btn-outline {
  background: transparent;
}
.btn-primary.btn-outline {
  color: #1A82C3;
  border-width: 2px;
}
.btn-default.btn-outline {
  color: #34495e;
  border-width: 2px;
}
.btn-success.btn-outline {
  color: #1ABB9C;
  border-width: 2px;
}
.btn-info.btn-outline {
  color: #34495e;
  border-width: 2px;
}
.btn-warning.btn-outline {
  color: #5bc0de;
  border-width: 2px;
}
.btn-danger.btn-outline {
  color: #34495e;
  border-width: 2px;
}
.btn-dark.btn-outline {
  color: #c0392b;
  border-width: 2px;
}
.btn-warning {
  background: #f0ad4e;
  border-color: #f0ad4e;
}
.btn-danger {
  background: #d9534f;
  border-color: #d9534f;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #1A82C3;
  border-color: #1A82C3;
  color: #FFFFFF;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  background-color: #1ABB9C;
  border-color: #1ABB9C;
  color: #FFFFFF;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  background-color: #4FB5D3;
  border-color: #4FB5D3;
  color: #FFFFFF;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
  background-color: #d58512;
  border-color: #d58512;
  color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #1479B8;
  border-color: #1479B8;
  color: #FFFFFF;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
  background-color: #d43f3a;
  border-color: #d43f3a;
  color: #FFFFFF;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .open .dropdown-toggle.btn-dark {
  background-color: #394D5F;
  border-color: #394D5F;
  color: #FFFFFF;
}
.custom-notifications {
  position: fixed;
  margin: 15px;
  right: 0;
  float: right;
  width: 400px;
  z-index: 4000;
  bottom: 0;
}
.btn-round {
  border-radius: 30px;
}

/* *********  /notifications  **************************** */
